@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.App {
  text-align: center;
  background-color: rgb(196, 255, 235);
  height: 100vh;
  font-family: 'Manrope', Courier, monospace;
}

form div {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  justify-content: center;
}

.guestContainer {
  display: grid;
  max-width: 950px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin: 10px;
  padding: 0;
}

.guestBlock {
  border: 5px solid rgb(81, 79, 79);
  height: 150px;
  border-radius: 20px;
}

button {
  margin: 5px;
}
