.App {
  text-align: center;
  background-color: rgb(196, 255, 235);
  height: 100vh;
}

form div {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  justify-content: center;
}
