@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.App {
  text-align: center;

  font-family: 'Manrope', Courier, monospace;
}

form div {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 2px;
  border: 2px solid rgb(81, 79, 79);
  margin: 5px;
}

label {
  margin: 7.5px;
}

.guestContainer {
  display: grid;
  max-width: 950px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 2rem;
  margin: 10px;
  padding: 0;
}

.guestBlock {
  border: 5px solid rgb(81, 79, 79);
  height: 150px;
  border-radius: 20px;
}

button {
  margin: 5px;
  background-color: rgb(190, 190, 247);
  border-radius: 5px;
  border: 2px solid rgb(178, 178, 178);
  font-family: 'Manrope', Courier, monospace;
}

button:hover {
  background-color: rgb(127, 127, 243);
}
